.grid{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal__container.modal__text{
    background-color: #fff;
    padding: 0 20px;
    border-radius: 2px;
    width: 600px;
    max-width: calc(100% - 32px);
    animation: fadeIn .3s ease;
}
.modal__heading{
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
}
.modal__content{
    line-height: 1.6;
    font-size: 17px;
    max-height: 300px;
    overflow-y: auto;
}
.modal__bottom{
    padding: 15px 0;
}
.modal__closeBtn{
    width: 80px;
    height: 30px;
    color: rgb(39, 132, 163);
    outline: none;
    border: none;
    font-size: 17px;
    float: right;
    background-color: transparent;
}
.modal__closeBtn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.modal__container{
    position: relative;
}
.modal__img{
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
}
.modal-img .modal__closeBtn{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.modal-img .modal__download{
    position: absolute;
    bottom: 5%;
    height: 30px;
    left: 5%;
    line-height: 30px;
    color: rgb(39, 132, 163);
    font-size: 18px;
    text-decoration: none;
}
.modal-img .modal__download:hover{
    opacity: 0.8;
    cursor: pointer;
}
.modal__download--icon{
    margin: 5px;
    color: #333;
}
.underline{
    text-decoration: underline;
}
/* key frame */
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}